/* Reglas CSS */
/* <selector> { */
    /* Aquí van las propiedades para esa etiqueta. */
    /* <Nombre de la propiedad> : <Parámetro o atributo de la propiedad>; */
/* } */

/* Ejemplo de regla CSS */
/* body {
    background: orange;
} */

/* SELECTORES BÁSICOS */
    /* * { */
        /* Selector universal que permite colorar unos estilos a todos los elementos de nuestro documento HTML. */
        /* background: orange; */
        /* margin: 0; */
        /* padding: 0; */
        /* box-sizing: border-box; */
        /* font-family: 'Courier New', Courier, monospace; */
    /* } */

    /* Selector de etiqueta, que hace referencia a nuestros elementos de HTML. */
    /* body {

    }

    h1 {

    }

    p {

    }

    div {

    }

    i {

    }

    form {

    } */

    /* Selectores de clase */
    /* .titulo {
        background: orange;
    }

    .rojo {
        background: red;
    }

    .azul {
        background: blue;
    }

    .amarillo {
        background: yellow;
    }

    .titulo.rojo {
        background: pink;
    } */

    /* .alerta {
        width: 100%;
        color: white;
        background: black;
    }

    .alerta.rojo.verde {
        background: brown;
    }

    .rojo {
        background: red;
    }

    .verde {
        background: green;
    }

    .amarillo {
        background: yellow;
    }

    .amarillo.error {
        background: orange;
    } */

    /* Selectores de ID */
    /* #alertaMorada {
        background: rebeccapurple;
    } */

/* UNIDADES ABSOLUTAS Y RELATIVAS */
/* Unidades absolutas */
/* px - Pixeles
cm - Centímetros
in - Pulgadas */

/* Unidades relativas */
/* % - Porcentaje
em - El valor que heredamos del elemento padre
rem - El valor que heredamos del navegador */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegador {
    background: pink;
    padding: 50px;
    border: 1px solid black;
    width: 100%;
}

.div1 {
    background: green;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    width: 1000px;
}

.div2 {
    background: green;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    width: 50%;
}

.titulo {
    background: orange;
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
} */

/* Colores y fondos */
/* body {
    background: skyblue;
    background-image: url('./background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

/* .fondo-principal {     */
    /* RGB - Gama de colores de Red, Green, Blue. */
    /* background: rgb(255, 255, 255); */
    /* background: rgb(0, 0, 0); */
    
    /* Hexadecimal - #ffffff */
    /* background: #ffffff; */
    /* background: #000000; */
    
    /* Rgba - Colores con transparencia */
    /* background: rgba(255,255,255,1); */
    /* background: rgba(0,0,0,1); */
    
    /* Colores en inglés */
    /* background: green;
    background: orange;
    background: pink;
    background: brown;
    background: purple;
    background: white;
    background: black; */
    
    /* background: rgba(0,0,0,0.5);
    padding: 20px;
}

.parrafo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    font-style: oblique;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.capital  {
    text-transform: capitalize;
    font-size: 50px;
} */

/* Elementos de orden y listas */
/* .elemento-orden {
    list-style-position: inside;
    list-style-type: armenian;
    list-style-type: disc;
    list-style-type: georgian;
    list-style-type: square;
    list-style-type: upper-roman;
    list-style-type: upper-latin;
    list-style-type: upper-alpha;
    list-style-type: lower-greek;
    list-style-type: lower-latin;
    list-style-type: lower-roman;
    list-style-image: url('background.jpg');
    background: green;
} */

/* Posicionamientos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-padre {
    width: 100%;
    height: 600px;
    padding: 20px;
    background: orange;
}

.div-hijo {
    width: 200px;
    height: 150px;
    margin: 20px;
    background: red;
}

.position-absolute {
    background: green;
    z-index: 10;
    top: 0;
    left: 0;
    position: absolute;
}

.position-relative {
    position: relative;
}

.position-fixed {
    bottom: 20px;
    right: 10px;
    position: fixed;
}